.work img{
    width: 100%;
    height: 400px;
}
.work a{
    font-family: 'Poppins', sans-serif;
}

@media (min-width : 992px) {
    .carousel-control-next, .carousel-control-prev {
        color: black;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .carousel{
        padding: 5rem 0;
    }
    .slides-icon{
        color: white;
    }
    /* Working */
    .work{
        padding: 0 20px;
        color: #fefefa;   
    }
    .work h3{
        font-size: 52px;
        font-weight: 200;
        text-transform: uppercase;
        font-family: 'Viga', sans-serif;
    }
    .work p {
        font-size: 16px;
        font-weight: 200;
        margin: 20px 0;
        font-family: 'Poppins', sans-serif;
    }
    .work h3{
        margin-top: 50px;
    }
    
}
@media (max-width : 724px) {
    .slides-icon{
        color: transparent;
    }
    .work{
        margin-top: 40px;
        text-align: center;
        margin-bottom: 40px;
    }
    .work h3{
        font-size: 32px;
        font-weight: 200;
        text-transform: uppercase;
        color: whitesmoke;
        font-family: 'Viga', sans-serif;
    }
    .work p {
        font-size: 16px;
        font-weight: 200;
        color: white;
        margin: 10px 0;
    }
    .work h3{
        margin-top: 20px;
    }
}