body{
    background-color: #f5f5dc;
}
/* Jumbotron */
.jumbotron{
    background-image: url(foto3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding-top: 100px;
}

.jumbotron .container{
    z-index: 1;
    position: relative;
}
/* Utility */
.tombol{
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #a26028;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.tombol-form{
    text-transform: uppercase;
    background-color: #a26028;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.tombol:hover, .tombol-form:hover{
    background-color: white;
    color : #a26028;
}
.blog-post h2{
    font-family: 'Viga', sans-serif;
    padding-top: 20px;
    padding-bottom: 11px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.blog-post p, .blog-post li{
    font-family: 'Poppins', sans-serif;
}
.table-brand{
    font-family: 'Viga', sans-serif;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.table-logo{
    color: #43302e;
    cursor: pointer;
}
footer{
    background-color: #43302e;
    color: white;
    height: 50px;
    font-family: 'Poppins', sans-serif;
}

/* Desktop */
@media (min-width : 992px) {
    /* Jumbotron */
    .jumbotron{
        margin-top: -74px;
        height: 100vh;
        text-align: center;
    }
    .jumbotron .display-4{
        color: white;
        margin-bottom: 30px;
        margin-top: 140px;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-size: 52px;
    }
    .jumbotron p{
        font-size: 16px;
        color: white;
        font-size: 18px;
    }
    .jumbotron::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        bottom: 0;
    }
    #tentang{
        height: 100vh;
        background-color: #483c32;
        padding-top: 5rem;
    }
    #home{
        padding-top: 4rem;
        height: 100vh;
    }
    #contact{
        padding-top: 5rem;
        height: 100vh;
    }
    
    
}


/* HP */
@media (max-width : 724px) {
    #home{
        padding-top: 5rem;
    }
    /* Jumbotron */
    .jumbotron{
        margin-top:-74px;
        height: 100vh;
        text-align: center;
    }
    .jumbotron .display-4{
        color: white;
        margin-bottom: 30px;
        margin-top: 140px;
        font-weight: bold;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-size: 32px;
    }
    .jumbotron p{
        font-size: 16px;
        color: white;
        font-size: 18px;
    }
    .jumbotron::after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        position: absolute;
        bottom: 0;
    }
    #tentang{
        background-color: #483c32;
        padding-top: 3.5rem;
    }
    
}