
.card h3{
    margin: 30px 0;
    text-align: center;
    font-size: 35px;
    font-family: 'Viga', sans-serif;
    color: black;
    text-shadow: 1px 1px 1px white;
}
.card{
    margin-top: 20px;
    background-color: wheat;
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: #43302e;
}
#contact, .content-1{
    background-color: #483c32;
}

@media (min-width : 772px) {
    #contact{
        padding-top: -5rem;
    }
    .card-brand{
    height: 84vh;
    }
    .tombol{
        text-transform: uppercase;
        border-radius: 40px;
        background-color: #a26028;
        color: white;
        font-family: 'Poppins', sans-serif;
        transition: 1s;
        font-weight: 400;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .tombol-form{
        text-transform: uppercase;
        background-color: #a26028;
        color: white;
        font-family: 'Poppins', sans-serif;
        transition: 1s;
        font-weight: 400;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    }
    .tombol:hover, .tombol-form:hover{
        background-color: white;
        color : #a26028;
    }

    
}

@media (max-width : 724px) {
    #contact{
        padding-top: 5rem;
    }
    form img{
        display: none;
    }
    .contact-logo{
        text-align: center;
        padding: 10px 0;
        font-size: 40px;
        font-family: 'Viga', sans-serif;
    }
    form h3{
        color: white;
    }
    .form-name{
        padding: 10px 0;
        font-family: 'Poppins', sans-serif;
        color: white;
    }
    .form-control{
        border: none;
        border-bottom: 2px solid white;
        border-radius: 0;
        width: 400px;
        background-color: transparent;
    }
    .tombol-form{
        margin-top: 23px;
        margin-bottom: 23px;
        margin-right: 23px;
    }
}