body{
    background-color: #f5f5dc;
}

.tombol{
    text-transform: uppercase;
    border-radius: 40px;
    background-color: #a26028;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.tombol-form{
    text-transform: uppercase;
    background-color: #a26028;
    color: white;
    font-family: 'Poppins', sans-serif;
    transition: 1s;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.tombol:hover, .tombol-form:hover{
    background-color: white;
    color : #a26028;
}

@media (min-width : 992px) {
    #tentang{
        height: 100vh;
        background-color: #483c32;
        padding-top: 5rem;
    }
    #home{
        padding-top: 5rem;
        height: 100vh;
    }
    #contact{
        padding-top: 5rem;
        height: 100vh;
    }
}

@media (max-width : 772px) {
    #tentang{
        padding-top: 3.5rem;
    }
    #home{
        padding-top: 5rem;
    }
}